.sidebar-main {
    width: 100%;
    
}

.side-social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.page-links {
    margin-top: 3rem;
    padding-top: 4rem;
    font-family: "Raleway";
}


.profile-img {
     border-radius: 50%;
     box-shadow: 1px 1px 3px;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    margin-left: 50%;
    left: -50px;
    margin-top: 24px;
    position: relative;
}

small, h3, p {
    font-family: 'Raleway';
    
}

.author-bio {
    font-size: 2vw;
}

